.orange-button {
    position: relative;
    background-color: $secondary-color;
//    min-height: 12em;
    border-radius: 1em;
    flex: 1 1 10.7em;
    margin: 0.5em;
    overflow: hidden;
    @include button-shadow;

    @include media-breakpoint-down(sm) {
        min-width: 0;
    }

    &__description {
        width: 100%;
        padding-left: 5%;
        color: $black;
        overflow: hidden;
        @include button-radius-bottom;
    }

    &__link {
        @include grey-links;

        @include hover-state {
            text-decoration: none;
            outline: none;
            background: $orange-hover;
        }
    }

    &__title {
        display: block;
        text-align: center;
        line-height: 1.4em;
        padding: 0.3125em;
        position: relative;
        z-index: 2;
        background-color: $secondary-color;
        @include button-radius-top;
    }

    &__image {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 1%;
        opacity: 1;
        transition: top .3s ease-out .3s;
        @include button-radius;
    }

    @include hover-state {
        background-color: $orange-hover;
        z-index: 20;
        height: auto;

        .orange-button__image {
            top: 100%;
        }
    }
}

.blue-button {
    position: relative;
    background-color: $tertiary-color;
    width: 100%;
    min-height: 5em;
    margin: 0.5em 0;
    transition: background-color 300ms ease-out 0.01s;
    @include button-radius;
    @include button-shadow;

    @include hover-state {
        background-color: $secondary-color;
    }

    &__link {
        @include grey-links;

        @include hover-state {
            outline: none;
        }
    }

    &__title {
        display: block;
        line-height: 1.4em;
        padding: 0.625em 0.625em 0.625em 33%;
    }

    &__image {
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 30%;
        max-width: 9.37em;
        @include button-radius-left;

       @include media-breakpoint-down(sm) {
          background-repeat: no-repeat;
          background-size: auto;
        }
    }
}

.col-xl-6 .blue-button {
   @include media-breakpoint-up(md) {
       max-width: 30%;
    }

   @include media-breakpoint-up(xl) {
        max-width: 49%;
       margin: 0.5em;
    }
 }

 .tab__content--row .blue-button {
   @include media-breakpoint-down(sm) {
       width: 47%;
       margin: 0.5em;
   }

   @include media-breakpoint-down(xs) {
       width: 100%;
   }
}

.is-expanded + .row .tab__content--row .blue-button {
    margin: 0.5em;

   @include media-breakpoint-up(sm) {
       width: 47%;
   }

    @include media-breakpoint-up(lg) {
        width: 30%;
    }
}

.tab__content--row .blue-button + .sr-only {
    width: 0;
}
