.sg-common, html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}
.sg-common *, html *, .sg-common *:before, html *:before, .sg-common *:after, html *:after {
  box-sizing: inherit;
}

.sg-common, body {
  margin: 0;
  padding: 0;
  background-color: #eeeff0 !important;
  max-width: 1280px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.view-section,
.view-overview {
  background-color: #fff;
}

*.sg {
  font-family: "inter", sans-serif !important;
}

h1.sg, h2.sg, h3.sg, h4.sg, h5.sg {
  margin: 0.5 0 !important;
}

.sg.sg-header {
  color: #fff;
  background: #005961;
}

.sg.sg-wrapper {
  padding: 10px 30px 60px 13px;
}

.sg.sg-top-nav,
.sg-nav-visible {
  background-color: #00363A !important;
}

.off-canvas-nav {
  height: 100%;
  /* width: 0; */
  /* right: 0; */
  padding-left: 1em;
  background-color: #005961;
}

.sg.sg-top-nav-menu li {
  background-color: #00363A !important;
}

.sg.sg-top-nav-menu > li > a:hover, .sg.sg-top-nav-menu > li > a.active {
  color: #222222;
  background: #9FE1B5;
}

.sg.sg-top-nav-menu > li > a {
  color: #E6F7D7;
}

.sg.sg-top-nav-menu li:hover ul li a:hover {
  color: #fff;
  background: #005961;
}

header.sg-section-header {
  font-size: 12px;
  color: #222 !important;
  background: none !important;
}

.sg.sg-section-header h1 .sg-section-source {
  color: #9FE1B5;
}

.sg.sg-section.main .sg.sg-section-header h1 .sg-section-source {
  color: #9FE1B5;
}

.sg.sg-section.main .sg.sg-section-header {
  border-bottom: #005961;
  border-style: solid;
  font-weight: 600 !important;
  font-size: 1.2em !important;
}

p.sg {
  font-size: 18px;
}

.styleguide-color--black {
  background: #000;
  color: #fff;
}
.styleguide-color--black:hover, .styleguide-color--black:active, .styleguide-color--black:focus {
  color: #fff;
}
.styleguide-color--black:focus-within {
  color: #fff;
}
.styleguide-color--white {
  background: #fff;
  color: #000;
}
.styleguide-color--white:hover, .styleguide-color--white:active, .styleguide-color--white:focus {
  color: #000;
}
.styleguide-color--white:focus-within {
  color: #000;
}
.styleguide-color--blue {
  background: #8ce4f7;
  color: #000;
}
.styleguide-color--blue:hover, .styleguide-color--blue:active, .styleguide-color--blue:focus {
  color: #000;
}
.styleguide-color--blue:focus-within {
  color: #000;
}
.styleguide-color--orange {
  background: #fa5;
  color: #000;
}
.styleguide-color--orange:hover, .styleguide-color--orange:active, .styleguide-color--orange:focus {
  color: #000;
}
.styleguide-color--orange:focus-within {
  color: #000;
}
.styleguide-color--dark-orange {
  background: #FF8411;
  color: #000;
}
.styleguide-color--dark-orange:hover, .styleguide-color--dark-orange:active, .styleguide-color--dark-orange:focus {
  color: #000;
}
.styleguide-color--dark-orange:focus-within {
  color: #000;
}
.styleguide-color--lime {
  background: #9FBC1B;
  color: #000;
}
.styleguide-color--lime:hover, .styleguide-color--lime:active, .styleguide-color--lime:focus {
  color: #000;
}
.styleguide-color--lime:focus-within {
  color: #000;
}
.styleguide-color--teal {
  background: #005961;
  color: #fff;
}
.styleguide-color--teal:hover, .styleguide-color--teal:active, .styleguide-color--teal:focus {
  color: #fff;
}
.styleguide-color--teal:focus-within {
  color: #fff;
}
.styleguide-color--peacock {
  background: #00363A;
  color: #fff;
}
.styleguide-color--peacock:hover, .styleguide-color--peacock:active, .styleguide-color--peacock:focus {
  color: #fff;
}
.styleguide-color--peacock:focus-within {
  color: #fff;
}
.styleguide-color--mint {
  background: #9FE1B5;
  color: #000;
}
.styleguide-color--mint:hover, .styleguide-color--mint:active, .styleguide-color--mint:focus {
  color: #000;
}
.styleguide-color--mint:focus-within {
  color: #000;
}
.styleguide-color--pistacho {
  background: #E6F7D7;
  color: #000;
}
.styleguide-color--pistacho:hover, .styleguide-color--pistacho:active, .styleguide-color--pistacho:focus {
  color: #000;
}
.styleguide-color--pistacho:focus-within {
  color: #000;
}

.styleguide-color {
  max-width: 25%;
}
.styleguide-color--black {
  background: #000;
  color: #fff;
}
.styleguide-color--black:hover, .styleguide-color--black:active, .styleguide-color--black:focus {
  color: #fff;
}
.styleguide-color--black:focus-within {
  color: #fff;
}
.styleguide-color--white {
  background: #fff;
  color: #000;
}
.styleguide-color--white:hover, .styleguide-color--white:active, .styleguide-color--white:focus {
  color: #000;
}
.styleguide-color--white:focus-within {
  color: #000;
}
.styleguide-color--blue {
  background: #8ce4f7;
  color: #000;
}
.styleguide-color--blue:hover, .styleguide-color--blue:active, .styleguide-color--blue:focus {
  color: #000;
}
.styleguide-color--blue:focus-within {
  color: #000;
}
.styleguide-color--orange {
  background: #fa5;
  color: #000;
}
.styleguide-color--orange:hover, .styleguide-color--orange:active, .styleguide-color--orange:focus {
  color: #000;
}
.styleguide-color--orange:focus-within {
  color: #000;
}
.styleguide-color--dark-orange {
  background: #FF8411;
  color: #000;
}
.styleguide-color--dark-orange:hover, .styleguide-color--dark-orange:active, .styleguide-color--dark-orange:focus {
  color: #000;
}
.styleguide-color--dark-orange:focus-within {
  color: #000;
}
.styleguide-color--lime {
  background: #9FBC1B;
  color: #000;
}
.styleguide-color--lime:hover, .styleguide-color--lime:active, .styleguide-color--lime:focus {
  color: #000;
}
.styleguide-color--lime:focus-within {
  color: #000;
}
.styleguide-color--teal {
  background: #005961;
  color: #fff;
}
.styleguide-color--teal:hover, .styleguide-color--teal:active, .styleguide-color--teal:focus {
  color: #fff;
}
.styleguide-color--teal:focus-within {
  color: #fff;
}
.styleguide-color--peacock {
  background: #00363A;
  color: #fff;
}
.styleguide-color--peacock:hover, .styleguide-color--peacock:active, .styleguide-color--peacock:focus {
  color: #fff;
}
.styleguide-color--peacock:focus-within {
  color: #fff;
}
.styleguide-color--mint {
  background: #9FE1B5;
  color: #000;
}
.styleguide-color--mint:hover, .styleguide-color--mint:active, .styleguide-color--mint:focus {
  color: #000;
}
.styleguide-color--mint:focus-within {
  color: #000;
}
.styleguide-color--pistacho {
  background: #E6F7D7;
  color: #000;
}
.styleguide-color--pistacho:hover, .styleguide-color--pistacho:active, .styleguide-color--pistacho:focus {
  color: #000;
}
.styleguide-color--pistacho:focus-within {
  color: #000;
}