/*
Search Results Page

Styleguide 7.2
*/

.search-results {
  padding: 1em 0;
  line-height: 1.5em;
  max-width: 65ch;
  &__bold-text {
    font-weight: 600;
  }
  &__input {
    @include default-font;
    padding: 0 0.8em 0 0.9em;
    height: 2.1em;
    width: 100%;
    border: 1px solid $primary-color;
    @include button-radius-left;
  }

  &__button {
    @include button-reset;
    background-color: $primary-color;
    width: 100%;
    height: 2.125em;
    @include button-radius-right;
  }

  &__icon {
    text-align: center;
    font-size: 1em;
    color: $white;
  }

  &__title {
    @include teal-links;
    font-size: 1.2em;
    font-weight: 600;
  }

  &__url {
    color: $primary-color
  }

  &__pagination {
    &-list {
    @include no-bullets;
    display: flex;
    justify-content: space-between;
    max-width: 100% !important; //important to override the max-width: 65ch in typography
  }
    &-item {
      display: inline-block;
      width: 10%;
      text-align: center;

      &--next, &--prev {
        color: $secondary-color;
        font-size: 2em;
        @include hover-state {
          cursor: pointer;
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
    &-link {
      @include teal-links;
      font-size: 1.2em;
      vertical-align: middle;
      &--active {
        color: $grey;
        font-weight: 600;
      }
    }
  }
}
