/*
Wardmap

Wardmap is here

markup:

<div class="col-12 col-lg-6">
  <div class="ward-map__form">
    <h2 class="ward-map__title">Find your councillor</h2>
    <form id="ward-map-search-form" class="ward-map__search">
        <p>Select a ward or enter postcode</p>
        <div class="row no-gutters">
            <div class="col-8">
                <input id="ward-map-postcode-input" autocomplete="postal-code" aria-label="Enter your postcode to find your councillor" type="text" class="ward-map__input" placeholder="LE">
            </div>
            <div class="col-4">
                <button id="ward-map-postcode-submit" aria-label="Search" class="ward-map__button">
                    <span class="ward-map__icon fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>
    <div class="ward-map__results" id="ward-map-results">
    </div>
  </div>
</div>
  <div class="col-12 col-lg-6">
    <div class="ward-map__map" aria-hidden="true">
      <svg id="svgWardCanvas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet" xml:space="preserve" focusable="false">
              <defs>
      </defs>
              <g class="ward-map__map-item" id="beaumont-leys" data-val="462">
              <polygon points="197,9,206,19,214,32,221,44,225,52,223,71,216,72,207,72,202,74,193,74,191,77,183,90,182,95,183,102,186,110,189,119,192,126,195,133,199,141,203,144,203,148,199,150,193,149,187,151,180,154,183,157,180,158,177,157,173,163,165,171,171,180,173,184,166,189,164,191,165,193,167,196,171,202,174,206,168,202,166,203,161,203,157,200,151,200,149,198,142,195,139,190,141,187,139,185,136,183,138,180,134,179,132,179,128,177,127,174,124,176,121,177,112,176,109,178,109,176,106,178,106,180,107,171,103,170,103,159,104,153,103,147,100,139,105,135,114,132,122,125,123,121,122,119,122,110,119,105,116,99,113,99,119,92,119,88,116,83,119,81,119,78,119,75,119,73,116,70,119,67,119,63,123,62,129,62,129,60,129,57,132,54,132,51,131,49,133,48,132,45,132,42,137,39,140,35,147,29,150,22,152,17,156,19,158,17,163,7,171,5,176,9,177,12,179,12,183,16,186,18,187,16,190,18,197,9">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="abbey" data-val="461">
              <polygon points="215,253,218,249,219,247,219,240,222,237,225,232,231,229,237,224,244,220,248,219,254,208,253,206,253,203,250,200,251,198,247,187,245,183,245,177,246,170,250,166,251,162,257,158,257,155,254,144,249,138,250,131,253,126,247,118,246,101,243,99,237,98,236,94,236,83,231,83,230,74,213,74,207,75,204,76,194,76,191,80,188,86,185,94,187,104,191,115,193,122,196,127,199,133,202,138,205,142,204,151,201,151,198,153,194,151,185,154,186,156,183,160,180,160,175,165,169,171,173,176,180,186,190,190,199,192,207,195,215,203,220,207,220,210,215,214,209,217,206,219,207,225,207,233,208,239,211,247,215,253">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="rushey-mead" data-val="453">
              <polygon points="312,186,317,177,325,164,329,154,332,145,335,135,340,123,323,114,324,112,326,106,328,99,330,95,313,89,311,89,303,86,300,90,292,87,285,84,277,84,274,90,272,90,272,96,265,103,261,105,258,108,255,114,253,119,256,125,260,131,262,133,264,131,268,133,269,136,272,137,277,138,282,141,284,141,288,144,276,168,312,186">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="belgrave" data-val="801">
              <polygon points="280,226,287,225,290,222,310,189,305,184,283,174,273,170,274,167,284,144,283,144,282,145,278,144,277,144,274,141,268,140,267,138,265,138,265,135,262,138,261,137,255,130,253,134,254,138,255,141,258,145,262,155,260,159,259,162,255,165,250,171,249,175,249,178,249,182,250,186,252,195,254,199,256,203,257,206,260,208,267,210,274,212,280,216,282,220,280,226">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="humberstone-and-hamilton" data-val="454">
              <polygon points="461,160,462,163,462,167,463,172,464,187,460,187,456,188,454,205,449,205,430,210,424,209,415,210,409,210,401,209,367,216,362,215,363,208,366,208,367,204,370,201,378,195,380,183,389,170,390,157,383,147,385,140,386,142,391,137,392,135,389,134,389,127,395,122,397,117,402,116,406,118,411,120,418,124,421,118,426,121,430,122,434,123,439,122,438,127,437,131,437,137,435,141,434,147,434,151,434,154,442,156,461,160">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="thurncourt" data-val="472">
              <polygon points="372,217,374,220,372,222,377,231,381,230,382,232,383,232,395,234,399,234,404,237,411,241,418,245,423,250,429,256,429,258,434,258,443,257,444,255,447,255,451,253,451,248,453,247,467,246,464,246,464,235,468,235,465,233,465,216,461,215,460,212,458,212,455,211,455,208,432,213,426,212,419,211,409,214,404,212,401,212,372,217">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="evington" data-val="642">
              <polygon points="351,220,352,228,353,235,357,242,357,248,358,260,360,262,361,275,361,288,358,300,355,308,351,320,348,330,365,334,370,334,370,330,376,331,376,335,379,336,384,336,389,337,396,339,400,336,402,328,402,325,407,320,414,316,417,313,419,314,423,313,425,314,433,305,439,295,441,294,445,291,446,290,450,281,447,277,443,275,444,270,443,262,436,261,430,260,426,259,421,253,414,246,398,238,396,238,393,237,390,236,386,236,382,235,379,232,376,233,370,226,369,221,370,220,368,218,363,218,351,220">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="spinney-hills" data-val="465">
              <polygon points="293,253,293,260,293,268,293,271,308,272,318,277,334,283,335,287,334,289,335,293,334,297,338,298,344,301,350,305,352,306,355,301,357,293,358,285,359,278,358,269,356,261,351,263,348,267,346,267,337,260,324,252,314,246,311,247,308,247,305,245,304,250,302,253,293,253">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="castle" data-val="457">
              <polygon points="250,351,251,354,258,354,266,355,264,348,268,346,280,346,286,346,287,333,303,325,291,303,279,289,261,270,260,268,264,265,268,262,267,257,264,257,261,256,265,251,263,238,258,232,246,223,230,234,222,244,222,250,219,253,218,256,216,271,217,275,218,276,222,280,225,280,230,285,232,291,233,293,237,294,241,288,243,289,246,295,248,306,249,313,250,351">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="knighton" data-val="456">
              <polygon points="250,356,261,419,273,419,275,413,276,410,281,413,287,414,294,413,304,411,306,416,307,417,311,418,316,418,317,412,321,407,317,411,318,410,319,406,322,403,324,395,324,389,330,387,333,382,336,373,343,364,344,357,333,353,336,338,336,330,328,328,327,325,324,328,323,328,321,330,312,324,289,333,289,347,286,348,267,348,270,356,269,358,250,356">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="eyres-monsell" data-val="458">
              <polygon points="179,425,179,436,175,442,174,442,176,444,177,447,175,451,179,453,180,458,183,458,182,464,177,468,176,473,176,475,170,474,169,479,171,478,173,479,173,483,177,484,183,485,189,486,196,486,198,483,202,474,203,467,206,460,207,454,213,454,219,455,219,447,221,445,228,448,237,447,246,445,248,442,250,439,253,439,256,439,257,438,257,428,257,417,244,416,231,416,220,419,212,420,205,424,199,424,179,425">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="aylestone" data-val="468">
              <polygon points="158,364,150,369,143,378,157,389,155,394,151,398,144,412,140,411,138,414,143,418,144,423,144,429,141,433,138,433,139,437,144,438,148,434,168,436,173,439,176,436,177,426,177,420,181,420,192,421,202,421,209,419,217,416,218,409,218,399,222,392,226,381,229,371,229,366,230,359,226,357,220,359,218,361,213,357,215,353,212,350,210,351,210,346,207,343,207,341,202,338,199,334,197,336,195,336,196,342,192,345,187,353,187,354,186,356,183,358,176,361,172,362,167,366,164,369,162,370,158,364">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="westcotes" data-val="460">
              <polygon points="167,261,167,267,168,271,166,276,168,280,169,283,170,286,206,315,208,312,210,303,212,296,213,289,214,275,215,263,214,257,209,255,198,255,192,255,185,256,179,258,175,260,167,261">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="braunstone-park-and-rowley-fields" data-val="473">
              <polygon points="162,366,171,359,174,359,177,358,181,357,185,355,189,344,193,342,191,337,193,334,196,333,195,329,196,328,200,325,202,317,194,310,185,301,173,293,151,274,142,268,125,262,116,262,106,265,86,271,70,276,53,279,60,284,62,287,69,289,83,297,94,303,97,309,100,308,104,313,109,316,120,323,128,324,134,327,138,333,144,337,152,344,156,346,154,350,157,358,160,361,162,366">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="fosse" data-val="455">
              <polygon points="176,186,168,190,169,193,173,197,174,203,178,206,178,211,175,212,171,212,167,218,165,219,167,226,167,238,167,242,166,248,165,256,173,257,180,255,186,251,190,252,196,252,204,253,210,253,212,253,210,249,207,243,204,231,204,221,208,214,212,213,219,208,215,206,211,201,205,198,196,195,188,193,182,190,176,186">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="troon" data-val="803">
              <polygon points="333,96,330,101,329,107,327,111,326,114,343,121,334,147,322,175,314,188,317,191,322,190,326,191,327,194,330,194,333,195,336,196,340,188,347,191,346,198,348,199,366,199,368,201,375,196,377,189,378,183,381,177,385,171,388,158,380,149,385,137,387,140,389,137,387,135,388,127,392,120,397,114,405,114,407,116,413,117,417,120,419,117,414,114,410,111,408,109,403,107,399,107,393,104,392,103,391,98,383,98,382,99,365,99,365,99,358,97,357,98,355,95,352,102,343,100,333,96">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="western" data-val="802">
              <polygon points="164,216,165,235,164,239,164,244,163,259,164,261,164,268,164,268,164,276,165,281,154,273,145,266,135,262,119,260,108,260,98,264,81,269,60,275,50,277,48,277,42,271,38,269,35,269,28,263,23,258,22,253,28,246,26,244,31,236,35,230,37,222,39,222,42,219,45,221,50,222,53,226,57,226,58,231,64,229,66,222,70,226,77,227,87,229,89,226,93,213,97,206,96,200,102,192,105,184,108,184,110,180,115,180,123,181,125,179,129,181,132,183,134,181,135,186,136,186,137,188,136,190,139,195,144,200,147,200,152,203,159,204,165,205,167,205,170,206,173,207,175,209,172,210,170,210,167,215,164,216">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="wycliffe" data-val="810">
              <polygon points="257,209,250,222,257,226,264,233,266,241,267,249,266,255,269,256,273,261,277,266,282,269,288,270,290,268,290,263,290,259,289,255,290,251,293,251,301,252,301,248,302,245,304,241,301,234,292,237,284,230,285,227,280,229,276,227,276,225,278,220,276,215,257,209">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="north-evington" data-val="809">
              <polygon points="288,228,293,233,302,230,306,239,310,246,314,244,318,244,347,263,350,260,355,257,354,251,354,242,350,231,349,219,349,216,350,215,359,215,361,206,363,206,366,202,351,202,345,202,341,200,342,198,344,193,341,190,338,196,340,198,338,199,333,198,329,197,325,194,322,192,317,192,312,190,305,203,296,216,288,228">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="stoneygate" data-val="471">
              <polygon points="270,261,265,268,285,289,291,298,300,313,307,324,312,321,320,326,323,324,327,323,334,326,341,328,347,328,352,308,338,300,331,296,330,294,332,292,331,289,331,285,309,275,290,272,284,273,276,267,270,261">
      </polygon>
      </g>
              <g class="ward-map__map-item" id="saffron" data-val="806">
              <polygon points="256,414,250,414,243,413,235,413,227,413,222,415,220,413,221,402,225,393,229,383,231,373,234,358,235,357,231,357,228,355,224,357,221,355,218,358,215,357,217,354,216,353,215,348,213,348,212,344,209,342,209,340,204,338,204,334,200,330,204,326,205,318,208,316,213,310,214,304,215,293,215,285,215,279,218,279,222,284,225,286,225,283,230,291,230,295,237,297,241,290,244,300,245,311,247,314,246,322,246,359,250,380,253,399,256,414">
      </polygon>
      </g>
  </svg>
</div>
</div>

sg-wrapper:
<div class="row">
  <div class="col-12">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 6.12
*/

.ward-map {
  @include grey-panel;
  width: 100%;

  &__input {
    @include default-font;
    padding: 0 1em;
    height: 2.2em;
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    text-align: left;
    border: 1px solid $white;
    @include button-radius-left;
  }

  &__button {
    @include button-reset;
    background-color: $primary-color;
    height: 2.2em;
    width: 100%;
    @include button-radius-right;
    @include hover-state {
      @include teal-hover;
    }
  }

  &__icon {
    text-align: center;
    line-height: 2.125em;
    font-size: 1em;
    color: $white;
  }

  &__results {
    line-height: 1.6;
    margin: 1.25em 0;
  }

  &__result-title {
    line-height: 1;
    margin: 1em 0;
  }

  &__link {
    @include underline-only-on-hover;
    @include teal-links;
    margin-bottom: .75em;
  }

  &__map {
    height: 100%;
    width: 100%;
  }

  &__map-item {
    cursor: pointer;
    -webkit-transition: fill .2s ease-in .01s;
    -moz-transition: fill .2s ease-in .01s;
    transition: fill .2s ease-in .01s;
    fill: #64802b;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white;

    @include hover-state {
      fill: #3ea9cd;
      stroke-width: 3px;
      stroke: $black;
      outline: none;
    }
  }

  &__waiting-msg {
    padding: 0em 1.25em;
    background: url(/images/waiting.gif) 0 50% no-repeat;
  }
}
