/*
Header

markup:
<nav aria-label="header-navigation" class="header-nav">
  <div class="row no-gutters">
    <div class="col-12 col-md-6 col-lg-4">
      <a class="header-nav__logo-link" href="/" aria-label="Return to homepage">
        <svg class="header-nav__logo-image" xmlns="http://www.w3.org/2000/svg" width="1513pt" height="179pt" viewBox="0 0 1513 179" preserveAspectRatio="xMidYMid meet" aria-label="Leicester City Council" role="img" focusable="false">
          <title>Return to homepage</title>
          <g transform="translate(0.000000,179.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none"><path d="M907 1755 c-9 -13 -63 -54 -120 -91 -164 -108 -197 -146 -197 -232 0
            -70 24 -131 80 -200 79 -99 96 -143 62 -161 -28 -15 -54 8 -118 105 -60 92
            -113 136 -187 156 -64 17 -109 -3 -243 -110 -61 -48 -125 -94 -143 -101 -17
            -8 -30 -16 -28 -20 22 -40 45 -106 72 -202 54 -200 96 -244 230 -243 56 0 86
            6 148 32 93 38 143 42 152 12 12 -39 -14 -54 -171 -99 -126 -37 -204 -131
            -189 -230 4 -24 26 -97 51 -161 24 -65 46 -135 50 -156 l6 -39 191 0 c203 1
            224 5 269 49 52 53 62 90 68 241 5 139 10 165 33 165 37 -1 42 -17 47 -162 6
            -150 15 -183 64 -236 47 -52 67 -56 274 -57 l192 0 6 35 c3 19 26 91 51 160
            59 158 63 226 19 284 -40 53 -101 94 -165 112 -31 8 -72 19 -91 24 -19 6 -46
            18 -59 28 -20 17 -22 22 -11 42 10 19 18 22 50 17 21 -3 68 -17 105 -32 164
            -65 289 -32 335 90 6 17 25 79 41 138 16 60 39 126 50 149 11 22 19 41 17 43
            -2 1 -21 12 -43 23 -23 11 -77 50 -120 87 -112 93 -158 119 -214 119 -83 -1
            -160 -58 -234 -174 -50 -80 -80 -105 -106 -91 -12 7 -21 20 -21 30 0 20 36 77
            81 129 39 44 67 101 80 161 21 101 -18 157 -186 269 -49 33 -103 74 -119 91
            -17 17 -32 31 -35 31 -3 0 -14 -12 -24 -25z m83 -187 c32 -24 77 -55 99 -70
            87 -59 95 -115 32 -229 -44 -81 -50 -118 -27 -174 11 -25 23 -36 50 -44 58
            -16 95 1 169 79 37 38 79 73 92 76 45 11 90 -5 151 -56 32 -27 76 -60 97 -72
            24 -15 36 -28 33 -38 -3 -8 -18 -60 -34 -115 -15 -55 -36 -112 -45 -126 -24
            -36 -67 -52 -119 -45 -24 3 -75 9 -115 12 l-72 7 -37 -37 c-32 -32 -36 -41
            -31 -71 10 -59 41 -90 132 -134 128 -61 140 -102 75 -265 -16 -42 -30 -87 -30
            -99 0 -22 -2 -22 -133 -22 -185 0 -210 19 -227 163 -10 93 -17 109 -62 147
            -26 22 -39 26 -66 21 -67 -10 -99 -60 -112 -176 -16 -140 -39 -156 -223 -153
            l-131 2 -12 48 c-7 26 -22 70 -33 96 -32 74 -36 118 -16 161 15 31 32 43 100
            76 89 43 121 73 131 125 16 86 -68 137 -181 110 -99 -24 -132 -20 -170 18 -21
            21 -39 54 -50 92 -9 33 -26 87 -37 120 -15 42 -17 60 -9 63 6 2 34 23 62 45
            103 84 140 107 176 107 48 0 83 -21 128 -75 48 -59 90 -85 137 -85 50 0 66 8
            83 41 26 50 19 104 -25 184 -67 121 -53 167 74 250 46 30 89 61 96 70 7 8 14
            15 16 15 2 0 31 -19 64 -42z"></path>
            <path d="M823 1015 c-142 -72 -176 -251 -70 -371 51 -58 105 -84 177 -84 187
            0 302 209 203 369 -64 102 -202 141 -310 86z m185 -56 c144 -70 122 -286 -35
            -330 -74 -20 -161 20 -198 92 -41 79 -2 198 77 238 54 27 100 27 156 0z"></path>
            <path d="M8441 1414 c-82 -22 -164 -70 -229 -135 -98 -98 -142 -205 -142 -344
            1 -229 149 -421 370 -476 122 -30 342 -9 450 44 l45 22 3 78 3 78 -63 -32
            c-86 -43 -132 -58 -214 -70 -142 -19 -269 21 -356 113 -64 67 -88 134 -88 246
            0 75 4 95 29 149 101 212 364 273 624 142 l57 -29 0 75 0 76 -43 18 c-133 57
            -328 77 -446 45z"></path>
            <path d="M11233 1415 c-169 -47 -304 -175 -353 -332 -27 -87 -27 -209 0 -295
            74 -240 297 -372 575 -340 96 11 232 49 261 73 10 8 14 35 14 85 l0 74 -62
            -31 c-129 -65 -241 -87 -353 -69 -166 26 -278 133 -305 291 -36 206 95 384
            309 421 93 16 216 -5 324 -55 l78 -36 -3 77 -3 77 -100 34 c-86 30 -116 35
            -215 38 -80 2 -131 -2 -167 -12z"></path>
            <path d="M2460 935 l0 -485 285 0 285 0 0 65 0 65 -215 0 -215 0 0 420 0 420
            -70 0 -70 0 0 -485z"></path>
            <path d="M15000 935 l0 -486 63 3 62 3 3 483 2 482 -65 0 -65 0 0 -485z"></path>
            <path d="M3825 1335 c-30 -30 -32 -64 -4 -99 41 -52 129 -20 129 48 0 34 -41
            76 -75 76 -14 0 -37 -11 -50 -25z"></path>
            <path d="M9105 1335 c-32 -31 -33 -74 -2 -103 72 -67 172 34 102 103 -13 14
            -36 25 -50 25 -14 0 -37 -11 -50 -25z"></path>
            <path d="M14707 1340 c-56 -44 -24 -130 47 -130 63 0 98 83 53 127 -24 25 -70
            26 -100 3z"></path>
            <path d="M5977 1102 c-65 -65 -115 -121 -111 -125 4 -4 31 -7 60 -7 l53 0 3
            -207 c3 -199 4 -209 26 -241 53 -73 179 -99 285 -59 l47 19 0 59 c0 32 -1 59
            -2 59 -2 0 -27 -9 -56 -20 -72 -27 -117 -26 -147 5 -25 24 -25 26 -25 204 l0
            180 98 3 97 3 3 58 3 57 -101 0 -100 0 0 65 c0 36 -3 65 -8 65 -4 0 -60 -53
            -125 -118z"></path>
            <path d="M9427 1106 c-64 -61 -117 -117 -117 -123 0 -9 18 -13 55 -13 l55 0 0
            -192 c0 -228 9 -259 88 -306 58 -33 150 -37 225 -9 l47 19 0 60 c0 53 -2 59
            -17 53 -102 -43 -153 -46 -188 -10 -25 24 -25 26 -25 204 l0 180 98 3 97 3 3
            58 3 57 -100 0 -100 0 -3 64 -3 63 -118 -111z"></path>
            <path d="M3291 1087 c-51 -16 -135 -99 -162 -159 -19 -43 -23 -70 -24 -148 0
            -82 4 -103 26 -151 60 -129 146 -183 289 -182 89 0 158 17 218 53 30 19 32 23
            32 81 0 33 -3 59 -7 57 -5 -2 -33 -16 -63 -32 -45 -24 -70 -30 -142 -34 -80
            -4 -91 -2 -132 22 -32 19 -51 40 -70 78 -47 93 -58 88 200 88 l227 0 -7 53
            c-13 103 -37 159 -91 212 -31 32 -65 55 -91 63 -50 14 -156 14 -203 -1z m186
            -117 c33 -20 55 -54 67 -102 l6 -28 -159 0 -160 0 11 33 c17 48 44 82 80 100
            45 23 116 21 155 -3z"></path>
            <path d="M4284 1088 c-63 -21 -127 -80 -163 -151 -32 -61 -35 -75 -35 -155 0
            -104 14 -157 57 -214 46 -60 101 -95 181 -115 58 -14 81 -15 145 -6 42 7 88
            16 104 22 25 10 27 14 27 71 0 33 -4 60 -9 60 -5 0 -28 -7 -52 -16 -52 -19
            -161 -21 -204 -4 -36 13 -82 55 -100 90 -55 105 -3 261 98 299 49 19 128 13
            185 -14 30 -14 56 -25 58 -25 2 0 4 29 4 66 l0 65 -37 16 c-46 20 -213 27
            -259 11z"></path>
            <path d="M4880 1079 c-232 -105 -234 -492 -4 -605 97 -48 260 -36 362 26 30
            19 32 23 32 80 l0 60 -62 -31 c-50 -25 -79 -33 -139 -37 -44 -2 -91 0 -111 7
            -50 17 -99 71 -113 128 l-12 48 225 3 225 2 -6 66 c-11 117 -73 215 -162 255
            -57 26 -175 25 -235 -2z m197 -109 c38 -23 60 -55 69 -98 l7 -32 -158 0 -157
            0 6 28 c24 99 148 154 233 102z"></path>
            <path d="M5485 1081 c-52 -24 -81 -56 -94 -106 -24 -91 32 -167 189 -260 103
            -61 122 -92 77 -131 -44 -38 -107 -33 -201 14 l-76 38 0 -68 0 -69 48 -20 c74
            -33 158 -43 227 -29 46 10 68 21 104 55 46 44 46 44 46 113 0 60 -3 73 -29
            107 -16 21 -63 59 -105 85 -137 87 -151 98 -151 124 0 61 89 73 188 26 35 -17
            66 -30 68 -30 2 0 4 29 4 64 l0 64 -62 21 c-79 27 -178 28 -233 2z"></path>
            <path d="M6565 1076 c-64 -29 -129 -102 -151 -169 -24 -70 -24 -187 0 -255 26
            -77 84 -145 151 -178 98 -48 261 -36 363 26 30 19 32 23 32 81 0 33 -3 59 -7
            57 -5 -2 -33 -16 -63 -32 -59 -31 -156 -45 -224 -32 -64 12 -125 80 -139 154
            l-6 32 226 0 226 0 -6 59 c-13 125 -78 228 -169 266 -59 24 -172 20 -233 -9z
            m202 -106 c38 -23 60 -55 69 -98 l7 -32 -157 0 c-175 0 -174 0 -135 70 42 74
            146 103 216 60z"></path>
            <path d="M7365 1088 c-31 -17 -65 -49 -96 -92 l-29 -39 0 66 0 67 -65 0 -65 0
            0 -320 0 -321 63 3 62 3 5 205 c5 194 6 207 29 244 54 86 143 98 222 29 15
            -12 20 -9 48 37 17 28 31 55 31 60 0 6 -21 24 -47 40 -50 32 -119 40 -158 18z"></path>
            <path d="M13575 1079 c-22 -12 -50 -31 -62 -42 l-23 -20 0 36 0 37 -65 0 -65
            0 0 -320 0 -320 65 0 65 0 0 233 0 233 28 26 c41 38 65 48 122 48 112 0 122
            -24 128 -318 l5 -223 61 3 61 3 -1 235 c0 231 -1 236 -26 292 -37 80 -87 112
            -182 115 -57 3 -79 -1 -111 -18z"></path>
            <path d="M14225 1085 c-126 -47 -205 -189 -192 -347 11 -132 86 -235 198 -274
            70 -25 194 -25 267 0 l52 18 0 59 c0 32 -4 59 -9 59 -5 0 -28 -7 -52 -16 -54
            -19 -151 -22 -201 -5 -70 23 -128 112 -128 196 0 77 47 158 113 192 46 23 152
            13 211 -20 l46 -26 0 70 0 69 -37 16 c-53 23 -215 28 -268 9z"></path>
            <path d="M3812 773 l3 -318 63 -3 62 -3 0 321 0 320 -65 0 -65 0 2 -317z"></path>
            <path d="M9090 770 l0 -320 65 0 65 0 0 320 0 320 -65 0 -65 0 0 -320z"></path>
            <path d="M9780 1085 c0 -3 55 -114 121 -248 l122 -243 -103 -219 c-56 -121
            -104 -226 -107 -233 -4 -10 11 -12 67 -10 l73 3 211 450 c116 248 217 462 223
            478 l13 27 -73 0 -72 0 -80 -177 -80 -176 -85 176 -85 177 -72 0 c-40 0 -73
            -2 -73 -5z"></path>
            <path d="M12064 1076 c-172 -56 -263 -240 -207 -417 24 -75 116 -168 193 -195
            85 -29 199 -25 275 10 73 33 128 84 163 151 23 43 26 62 26 140 0 75 -4 98
            -24 140 -31 64 -92 124 -155 155 -61 29 -205 38 -271 16z m221 -129 c159 -87
            124 -338 -52 -375 -105 -23 -195 16 -238 102 -60 120 3 266 127 297 47 11 117
            1 163 -24z"></path>
            <path d="M12652 848 c3 -232 4 -245 27 -291 26 -53 71 -88 139 -108 59 -17
            138 2 197 47 l45 34 0 -41 0 -40 63 3 62 3 3 318 2 317 -65 0 -65 0 0 -228 0
            -228 -27 -27 c-76 -72 -192 -74 -231 -3 -14 26 -17 67 -20 259 l-4 227 -65 0
            -65 0 4 -242z"></path>
            <path d="M14690 770 l0 -321 63 3 62 3 3 318 2 317 -65 0 -65 0 0 -320z"></path>
          </g>
        </svg>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <form class="header-nav__search" method="get" action="https://www.leicester.gov.uk/search/">
        <div class="row no-gutters">
          <div class="col-10">
            <input id="lccsearch" class="header-nav__search-input" type="search" name="term" placeholder="Search our website" aria-label="Search our website" autocomplete="off">
          </div>
          <div class="col-2">
            <button class="header-nav__search-button" type="submit" aria-label="Search">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-4">
      <div class="header-nav__items">
        <div class="header-nav__item">
          <a class="header-nav__link" href="https://my.leicester.gov.uk/">My Account</a>
        </div>
        <div class="header-nav__item">
          <a class="header-nav__link" href="/atoz/">A-Z<span class="fa fa-caret-down header-nav__link--caret"></span></a>
        </div>
        <div class="header-nav__item">
          <button class="header-nav__hamburger-button" type="button" onclick="toggleNav()" aria-label="Menu">
                <span class="fa fa-bars"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

sg-wrapper:
<div class="container">
  <div class="row">
      <sg-wrapper-content/>
  </div>
</div>

Styleguide 5.1
*/


.header-nav {
  background: $primary-color;
  position: relative;
  align-items: center;
  padding: 0.5em;
  margin: 0.5em 0;
 // @include media-breakpoint-down(md) {
 //   margin: 0;
 //  }

  &__logo-link {
    padding: 0;
    text-align: center;
  }

  &__logo-image {
    max-width: 100%;
    padding: 0 1.5em 0 0.5em;
    height: 3em;
  }

  &__items {
    display: flex;
    @media only screen and (max-width: 300px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 100%;
 //   @include media-breakpoint-up(lg){
 //     border-left: 1px solid white;
 //   }
  }

  &__search-input {
    @include default-font;
    border: none;
    width: 100%;
    height: 3.1em;
    text-align: center;
  }

  &__link, &__search-button, &__hamburger-button {
    display: block;
    padding: 0 1em;
    line-height: 3.125rem;
    white-space: nowrap;
    text-decoration: none;
    color: $white;
    @include hover-state {
      @include teal-hover;
      outline: none;
      font-weight: 700;
    }
  }

  &__link {
    text-align: center;
    &--caret {
      padding-left: 0.5em;
    }
  }

  &__search-button, &__hamburger-button {
      border: none;
      background-color: transparent;
  }

  &__search-button {
    font-size: 1.1em;
    display: inline-block;
    width: 100%;
  }

  &__hamburger-button {
    font-size: 1.5em;
    width: 100%;
  }
}

.autocomplete {
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  overflow: auto;
  @include button-radius;
  & .strong {
    font-weight: 400;
    color: $primary-color;
  }
  &__suggestion {
    padding: 0.625rem;
    overflow: hidden;
    border-bottom: 1px solid $light-grey;
  }
  &__selected {
    background: $dark-grey;
    color: $primary-color;
    @include hover-state {
      cursor: pointer;
    }
  }
}
